@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.weatherCard {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 300px;
  background-color: $color-gray;
  opacity: 0.7;
  border: none;
  border-radius: 10px;

  &__greeting {
    text-align: center;
    font-size: 2rem;
    color: $text-white;
    margin-top: 20px;
  }

  &__info {
    &--text {
      color: $text-white;
    }

    &--text-city {
      color: $text-white;
      font-size: 1rem;
    }

    &--text-temp {
      color: $text-white;
      font-size: 1rem;
      padding-left: 30px;
    }

    &--icon {
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }

    &--wrap-location {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
    }
  }
}

.morning {
  background-color: rgba(215, 160, 30, 0.5);
}

.afternoon {
  background-color: rgba(112, 48, 181, 0.5);
}

.evening {
  background-color: rgb(38, 138, 171, 0.5);
}

@media screen and (min-width: $tablet-breakpoint) {
  .weatherCard {
    width: 700px;
    height: 300px;

    &__info {
      &--wrap-location {
        margin-top: 70px;
      }

      &--icon {
        width: 160px;
        height: 160px;
      }

      &--text {
        font-size: 2rem;
      }

      &--text-city {
        font-size: 1.6rem;
      }

      &--text-temp {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .weatherCard {
    width: 900px;
    height: 400px;

    &__info {
      &--wrap-location {
        margin-top: 160px;

        &--icon {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .weatherCard {
    width: 1200px;
    height: 400px;

    &__info {
      &--wrap-location {
        margin-top: 160px;

        &--icon {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
