@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.forecastHourlyContainer {
  background-color: $color-white-translucent;
  border-radius: 10px;

  &__header {
    color: $text-white;
    padding: 5px 20px;
    border-bottom: 1px solid $color-white-translucent;
  }

  &__wrap {
    width: 300px;
    height: 140px;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .forecastHourlyContainer {
    &__wrap {
      width: 700px;
      height: 200px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .forecastHourlyContainer {
    &__wrap {
      width: 900px;
      height: 300px;
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .forecastHourlyContainer {
    &__wrap {
      width: 1200px;
      height: 360px;
    }
  }
}
