@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.weather {
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, pink, purple);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  padding-top: 120px;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--search-and-btn {
      display: flex;
      align-items: center;
    }

    &--blogs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 300px;
      margin-bottom: 20px;
      justify-items: center;
    }

    &--forecastRow {
      margin: 20px;
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .weather {
    &__wrap {
      &--search-and-btn {
        display: flex;
        align-items: center;
      }

      &--blogs {
        width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .weather {
    &__wrap {
      &--blogs {
        width: 900px;
      }
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .weather {
    &__wrap {
      &--blogs {
        width: 1200px;
      }
    }
  }
}
